.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #f5f5f5;
}

.header {
  height: 72px;
  background-color: #dac2c2;
}

.main {
  flex-grow: 1;
  display: flex;
  background-color: #6f8973;
}

.sidebar {
  width: 240px;
  background-color: #8a9b8d;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #6f8973;
}

.toolbar {
  height: 48px;
  background-color: #ceec62;
}

.workspace {
  flex-grow: 1;
  background-color: #acbeee;
}

.footer {
  height: 48px;
  background-color: #dac2c2;
}
